@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
*{
    --BACKGROUNDCOLOR: #222222;
    padding: 0;
    margin: 0;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}
body{
    background-image: url("./assets/img/Polar\ Coordinates2.png");
    background-size: contain;
    /* background-color: #222222; */
    color: #f3f3f3;
}
h1 {
    background-color: black;
}
.show:hover{
    display: block;
    background-color: white;
}
.nav{
    float: left;
}
.nav li{
    list-style: none;
    display: inline-block;
    padding: 16px;
}
.name {
    text-align: center;
    padding: 16px;
    font-size:  2rem;
}
.name a {
    color :#fff;
    background-color: black;
}
a{
    text-decoration: none;
    color: #f3f3f3;
}
header {
    padding:1rem;
}

.grid-item {
    height: 100%;
    width: 100%;
    position: relative;
}

.grid-item img {
    height: 400px;
    width: 750px;
}

/* Hover text */
.grid-item::after {
    content: attr(data-hover-text); /* Use the data-hover-text attribute */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    background-color: rgb(255, 255, 255,0.8); /* Background for better readability */
    color: black;
    text-align: center;
    transition: opacity 0.3s ease;
    font-weight: bolder;
}

.grid-item:hover::after {
    visibility: visible;
    opacity: 1;
}

